<!doctype html>
<html lang="en">
<link rel="stylesheet" href={{ url_for('static', filename='style2.css') }} />

	<head>
		<meta charset="utf-8">
		<title>Tiny Project_YX</title>
		
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class=page>
  			<h1>Stock price from Quandl</h1>
		</div>
		
		<form id="input" method="POST" action="/result">
			<p>
			Please input a ticker(e.g. GOOG) <input type="text" name="dataset_code">
			</p>
			<p>
				<input type="checkbox" name="check" value="open"> Opening price
				<br>
				<input type="checkbox" name="check" value="high"> High price
				<br>
				<input type="checkbox" name="check" value="low"> Low price
				<br>
				<input type="checkbox" name="check" value="close"> Closing price
				<br>
			<input type="submit">
			</p>
		</form>

	</body>
</html>
